#titre-principal {
  text-align: center;
  font-family: "Lucida console";
}
#biographie {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /* toutes les balises "margin auto", c'est pour aligner les elements au centre */
}
.images {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
body {
background: rgb(217, 217, 217);
color: black;
}
h1 {
  color: black;
}
a {
  color: black;
}
#retour {
  color: white;
}
.tableau {
  margin-left: auto;
  margin-right: auto;
}
#moi {
  position: absolute;
  left: 1200px;
  bottom: 300px;
}
#navigation {
  margin-left: 25px;
}
.liste {
  line-height: 50px;
  margin-left: 25px;
}
table, th, td {
  border: 2px groove black;
  background-color: grey;
  color: rgb(217, 217, 217);
}
#langues {
  position: absolute;
  left: 500px;
  bottom: -175px;
  text-align: center;
  /*  ^le positionnement de mon tableau de langues de codage */
}
#liens {
  margin-left: 25px;
}
.info {
  margin-left: 25px;
  margin-bottom: 35px;
  line-height: 30px;
}
#paragraphe_sur_moi {
  margin-left: 25px;
}
.poemBox {
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  width: 20%;
  border: 2px groove black;
  line-height: 100px;
  font-family: "Papyrus", "Lucida Handwriting", "Brush Script M7";
  /* mes changements au poem */
}
.artistes {
height: 200px;
width: 200px;
}
ul, li {
  font-family: "Courier New", monospace;
  font-weight: bold;
}
#biographie-counter {
  counter-reset: heading;
}
/* l'outil que j'utilise pour ajouter les nombres pour compter les titres */
h2::before {
  content: "Partie "counter(heading) ": ";
  counter-increment: heading;
}
/* la deuxieme partie du compteur css */
