#titre-principal {
  text-align: center;
}
body {
background: rgb(191,191,191);
background: linear-gradient(0deg, rgba(191,191,191,1) 0%, rgba(37,35,35,1) 16%, rgba(0,0,0,1) 28%);
  height: 160vh;
color: rgb(191, 191, 191, 100);
}
a {
  color: grey;
}
